/* Font -------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body,
input,
button,
textarea,
select {
    font: 16px 'Roboto', sans-serif;
}

/* Layout ------------------------------------------------------------------ */

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid: auto auto 1fr auto / auto;
}

header,
footer {
    padding: 10px 50px;
    background: #ccc;
}

header h1 {
    margin: 0;
    padding-left: 40px;
    background: url(/images/favicon3.png) no-repeat left / 36px;
}

header a {
    color: inherit;
    text-decoration: none;
}

nav {
    padding: 0 50px;
    background: #87CEEB;
    display: flex;
}

nav a {
    padding: 5px 10px;
    color: #fff;
    background: #87CEEB;
    text-decoration: none;
    white-space: nowrap;
}

nav a:hover {
    background: #333;
}

main {
    padding: 20px 50px;
}

main h1 {
    margin-top: 0;
}