    /* Font -------------------------------------------------------------------- */

    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

    body,
    input,
    button,
    textarea,
    select {
        font: 16px 'Roboto', sans-serif;
    }

    /* Layout ------------------------------------------------------------------ */

    body {
        margin: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    /*make the body full*/
    main {
        flex: 1;
    }

    header,
    footer {
        padding: 10px 50px;
        background: #ccc;
        width: 100vm;
    }

    header {
        background: #7555a0;
        display: flex;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        z-index: 10;
    }

    header h1 {
        margin: 0;
        padding-left: 45px;
        background: url(/images/favicon3.png) no-repeat left / 36px;
    }

    header a {
        font-family: 'Montserrat';
        font-size: 30px;
        color: #65c5b5;
        text-decoration: none;
        font-weight: 700;
    }

    /* Login button styling */
    .login-btn {
        background: #693b9f;
        color: #f2f2f2;
        border: none;
        padding: 9px 20px;
        border-radius: 6px;
        cursor: pointer;
        font-weight: 600;
        transition: background 0.2s ease;
    }

    .login-btn:hover {
        background: #df87ee;
        color: #ffffff
    }

    nav {
        padding: 5px 8px;
        width: 100%;
        background: #693382;
        display: flex;
        box-sizing: border-box;
        position: fixed;
        top: 55px;
        z-index: 9;
    }

    nav a {
        padding: 8px 12px;
        color: #f2f2f2;
        text-decoration:dashed;
        letter-spacing: 0px;
        margin: 0 1px;
        border-radius: 10px;
    }

    nav a:hover {
        background: #512764;
        color: #ffffff
    }

    .banner-area {
        background-image: url(/images/banner2.png);
        background-size: cover;
        background-position: center;
        top: 0;
        height: 90vh;
        width: 100%;
        position: fixed;
        z-index: 1;
    }

    .banner-area:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: blue;
        opacity: .3;
        z-index: -5;
    }

    .banner-area {
        padding-top: 8%;
        font-size: 80px;
        color: #fff;

    }

    .shopnow-btn {
        font-size: 20px;
        background: #693b9f;
        color: #f2f2f2;
        border: none;
        padding: 15px 63px;
        border-radius: 20px;
        cursor: pointer;
        font-weight: 600;
        transition: background 0.2s ease;
        bottom: 22%;
        left: 8%;
        position: absolute;
    }

    .shopnow-btn:hover {
        background: #de87ee;
        color: #ffffff
    }

    .content-area {
        width: 100%;
        height: 800px;
        position: relative;
        background: #7d8fba;
        top: 630px;
        z-index: 2;
    }

    .content-area h2 {
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
        font-style: italic;
        font-size: 40px;
        margin: 0;
        padding-top: 30px;
        letter-spacing: 0px;
        
    }

    .content-area p {
        font-style: oblique;
        padding: 5%;
        line-height: 30px;
        text-align: justify;
        font-size: 20px;

    }

    main {
        padding: 20px 50px;
    }

    main h1 {
        margin-top: 0;
    }
